<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar class="background">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">Reset Password</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 class="header-text">Verify Email</h1>
  <p class="description">Enter the email address associated with your account and we will verify it to reset your password</p>

  <ion-input [(ngModel)]="email" label="Email" label-placement="floating" type="email" placeholder="Enter email" name="email" class="input"></ion-input>

  <ion-button (click)="verifyEmail()" expand="block" class="submit-button">Verify Email</ion-button>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)" class="background">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Reset Password</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding background">
        <br /><br /><br /><br />
        <ion-input [(ngModel)]="password" label="New Password" label-placement="floating" placeholder="Enter new password" type="password" name="password" class="input"></ion-input>
        <ion-input [(ngModel)]="confirmPassword" label="Confirm Password" label-placement="floating" placeholder="Confirm password" type="password" name="confirmPassword" class="input"></ion-input>
        <ion-button (click)="confirm()" class="submit-button">Confirm</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
