.header {
    display: flex;
    align-items: center;
    justify-content: center; 
}
  
.logo {
    width: auto; 
    height: 100px;
    transform: translateX(-25px); 
}
  
.back-button {
    transform: translateX(-100px);
    color: black;
    width: 40px; 
    height: 40px; 
}

.address-input {
    border-radius: 15px;
    border: 3px solid black;
    background-color: white;
    font-family: Kanit, sans-serif;
    color: black;
    text-indent: 10px; 
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    transform: translate(10px, 75px);
}

.submit-button {
    --background: rgb(84, 84, 84);
    --color: white;
    border-radius: 30px;
    width: 75%;
    height: 40px;
    font-family: Kanit, sans-serif;
    font-size: 20px;
    transform: translate(15%, 150px);
}

.header-text{
    font-size: 26px;
    font-family: Kanit, sans-serif;
    color: gray;
    transform: translate(20px, 10px);
}

.address-text{
    font-size: 20px;
    font-family: Kanit, sans-serif;
    color: gray;
    text-align: center;
    margin-top: 20px;
    transform: translateY(50px);
}