

<ion-content [fullscreen]="true" class="ion-padding background">
  
  <div class="header">
    <img src="../../assets/resources/arrow-back-outline.svg" routerLink="/profile" class="back-button">
    <img src="../../assets/resources/logo-removebg.png" alt="logo" class="logo">
  </div>

  <h1 class="header-text">Frequently Asked Questions</h1>

  <h2 class="faq-question">Question: What is VegeTal?</h2>
  <p class="faq-answer">Answer: VegeTal is a platform developed by SaudávelTuga, Lda. offering a wide range of vegetarian meals, desserts, and beverages for order.</p>

  <hr class="divider"> 

  <h2 class="faq-question">Question: How can I place an order?</h2>
  <p class="faq-answer">Answer: You can place an order through our website or mobile application by selecting your desired items and completing the checkout process.</p>

  <hr class="divider">

  <h2 class="faq-question">Question: Can I customize my meals?</h2>
  <p class="faq-answer">Answer: Yes, you can customize your meals by selecting from a variety of ingredients and dietary preferences during the ordering process.</p>

  <hr class="divider">

  <h2 class="faq-question">Question: What payment methods are accepted?</h2>
  <p class="faq-answer">Answer: We accept major credit cards and PayPal</p>

  <hr class="divider">
  
  <h2 class="faq-question">Question: How do I earn loyalty points?</h2>
  <p class="faq-answer">Answer: You earn loyalty points with each purchase. For every $10 spent, you receive 1 loyalty point, which can be redeemed for discounts on future orders.</p>

</ion-content>
