.logo {
    display: block;
    align-items: center;
    margin-top: 50px;
    margin-left: -10px;
    margin-right: 20px;
    padding: 20px;
    width: 100%;
}

.input {
    font-size: 20px;
    max-width: 400px; 
    border-radius: 15px;
    border: 2px solid black;
    background-color: lightgray;
    font-family: Kanit, sans-serif;
    color: black;
    text-indent: 10px; 
}

.background {
    --background: #68CA58;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

form {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
}

.submit-button {
    width: 100%;
    height: 60px;
    max-width: 400px; 
    border-radius: 10px;
    font-family: Kanit, sans-serif;
    --background: #488F54; 
    color: black;
    font-size: 24px;
}

.forgot-password {
    font-family: Kanit, sans-serif;
    color: #145EA1;
    text-decoration: underline;
    font-size: 18px; 
    text-align: left;
}

.icon {
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
}

.show-password {
    margin-right: 10px;
    vertical-align: middle;
    color: black;
}