<ion-content class="background ion-padding">

  <img src="../../../assets/resources/arrow-back-outline.svg" (click)="dismiss()" class="back-button">

  <ion-text class="instructions">
    <h1>Select a payment method to finish your order!</h1>
  </ion-text>

  <div class="payment-container">

  <ion-text class="header-text">Payment methods</ion-text>

  <ion-list class="background">
    <ion-radio-group [(ngModel)]="selectedPaymentMethod" value="credit_card">
      <ion-item class="background">
        <ion-icon slot="end" name="card-outline" class="logo"></ion-icon>
        <ion-label class="payment-method">Credit Card</ion-label>
        <ion-radio slot="start" value="credit_card"></ion-radio>
        
      </ion-item>
      <ion-item class="background">
        <ion-icon slot="end" name="logo-paypal" class="logo"></ion-icon>
        <ion-label class="payment-method">PayPal</ion-label>
        <ion-radio slot="start" value="paypal"></ion-radio>
        
      </ion-item>
    </ion-radio-group>
  </ion-list>
  </div>
  <ion-button class="payment-button" [disabled]="!selectedPaymentMethod" (click)="confirmPayment()">Confirm Payment</ion-button>
</ion-content>

