<ion-content [fullscreen]="true" class="ion-padding background">
  <div class="header">
    <img src="../../assets/resources/arrow-back-outline.svg" routerLink="/login" class="back-button">
    <img src="../../assets/resources/logo-removebg.png" alt="logo" class="logo">
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <ion-input label="Name" placeholder="Enter name" label-placement="floating" formControlName="name" required class="input"></ion-input>
    <ion-input label="Email" placeholder="Enter email" label-placement="floating" required formControlName="email" type="email" class="input"></ion-input>
    <ion-input label="Phone Number" label-placement="floating" placeholder="Enter phone number" formControlName="phone" required class="input"></ion-input>
    <ion-input label="Password" placeholder="Enter password" label-placement="floating" required formControlName="password" type="password" class="input"></ion-input>
    <ion-input label="Confirm Password" placeholder="Confirm password" label-placement="floating" required formControlName="confirmPassword" type="password" class="input"></ion-input>
    
    <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched" class="error-message">
      Passwords do not match!
    </div>

    <div class="ion-padding">
      <ion-button type="submit" class="submit-button">Register</ion-button>
    </div>
  </form>
</ion-content>